<div class="background">
  <div class="modal">
    <h1>¡Hola!</h1>
    <p>A Continuación ingresa con tus datos:</p>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="fields">

        <!-- fistName -->
        <div class="field">
          <label>
            Nombre
          </label>
          <input matInput placeholder="Nombre" formControlName="firstName">
          <span class="errors" *ngIf="f['firstName'].errors && f['firstName'].dirty">
            <small *ngIf="f['firstName'].errors.required">
              Por favor ingresa tu nombre
            </small>
          </span>
        </div>

        <!-- lastName -->
        <div class="field">
          <label>
            Apellido
          </label>
          <input matInput placeholder="Apellido" formControlName="lastName">
          <span class="errors" *ngIf="f['lastName'].errors && f['lastName'].dirty">
            <small *ngIf="f['lastName'].errors.required">
              Por favor ingresa tu apellido
            </small>
          </span>
        </div>

        <!-- email -->
        <div class="field col-2">
          <label>
            Correo electrónico
          </label>
          <input matInput placeholder="Correo electrónico" formControlName="email">
          <span class="errors" *ngIf="f['email'].errors && f['email'].dirty">
            <small *ngIf="f['email'].errors.required">
              Por favor ingresa tu correo
            </small>
            <small *ngIf="f['email'].errors.email && !f['email'].errors.required">
              Por favor ingresa un correo válido
            </small>
          </span>
        </div>

      </div>

      <!-- submit -->
      <div class="form-footer">
        <button
          class="button button-primary"
          type="submit"
          [class.disabled]="form.invalid"
          (keydown.enter)="onSubmit()">
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>