@import 'variables';

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: #507d682e;

  .modal {
    height: auto;
    max-width: 400px;
    margin: auto;

    h1, p {
      text-align: center;
    }
    
    .form {
      @include soft-shadow;
      border-radius: 12px;
      padding: $spaceSm;
      background-color: #ffffff;
      margin-top: 1rem;
    }

    .form-footer {
      margin-top: 2rem;
      
      .button {
        width: 100%;
      }
    }
  }
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spaceSm;

  .col-2 {
    grid-column: 1 / 3;
  }

  .field {

    label {
      display: block;
      color: $green;
      font-weight: bold;
      margin-bottom: 6px;
    }

    input {
      width: calc(100% - 16px);
      padding: 6px;
      border-radius: $radius;
      border: $border;
    }

    .errors {
      display: block;
      color: $red;
      margin-top: 4px;
    }
  }
}