<header *ngIf="user">
  <button class="button button-link" (click)="logout()">
    Salir
  </button>
  <h1>Domicilios</h1>
  <span class="user-actions">
    Hola! {{ user.firstName }}
  </span>
</header>