@import 'variables';

header {
  display: grid;
  grid-template-columns: min-content auto max-content;
  gap: .5rem;
  height: 80px;
  padding: 0 $spaceMd;
  background-color: #ffffff;
  @include soft-shadow;

  * {
    align-self: center;
  }

  h1 {
    text-align: center;
  }

  .user-actions {
    text-align: left;
    color: $gray;
  }

  @media screen and (max-width: $mobile) {
    padding: 0 $spaceSm;
  }
}