<div class="page">
  <!-- Input for creating posts -->
  <section class="status-input m-bt">
    <app-multiline-input
      [label]="'Escribe aquí tu estado'"
      [showActions]="true"
      (value)="onSubmitPost($event)">
    </app-multiline-input>
  </section>

  <!-- Posts -->
  <section class="m-bt" *ngFor="let post of posts; let i = index">
    <!-- post text -->
    <app-post-content
      [post]="post"
      (refresh)="getPosts()"
      (comment)="showCommentInput(i)">
    </app-post-content>
    <!-- post interactions -->
    <app-post-interactions
      *ngIf="post.reactions.length !== 0 || post.comments.length !== 0"
      [post]="post">
    </app-post-interactions>
    <!-- post comments -->
    <div class="comment-box" *ngIf="post.comments.length !== 0 || posts[i].showCommentBox">
      <!-- post comments -->
      <app-post-comments [comments]="post.comments"></app-post-comments>
      <!-- post comment input -->
      <app-multiline-input
        *ngIf="post.comments.length !== 0 || posts[i].showCommentBox"
        [label]="'Escribe un comentario'"
        [mutedLabel]="true"
        (value)="onSubmitComment(post.id, $event)">
      </app-multiline-input>
    </div>
  </section>

</div>
