<div class="post" *ngIf="post">
  <div class="post-avatar">
    <span>
      {{ post.owner.initials }}
    </span>
  </div>

  <div>
    <!-- Post owner name -->
    <h5 class="post-owner">
      {{ post.owner.firstName + ' ' + post.owner.lastName }}
    </h5>

    <!-- Post time diference -->
    <span class="post-date font-small">
      {{ timeSince() }}
    </span>

    <!-- Post content -->
    <p class="post-content">
      {{ post.content }}
    </p>
  </div>
  <!-- Post footer -->
  <div class="post-footer">
    <span class="space-holder"><!-- space holder --></span>
    <span class="actions">
      <button class="button button-link" (click)="onReact()">Reaccionar</button>
      <button class="button button-link" (click)="onComment()">Comentar</button>
    </span>
  </div>
</div>