@import 'variables';

$avatar: 60px;

.post {
  @include soft-shadow;
  display: grid;
  grid-template-columns: $avatar auto;
  padding: $spaceSm;
  gap: $spaceSm;
  background-color: #ffffff;

  .post-avatar {
    @include avatar-outer($avatar);

    span {
      @include avatar-inner;
    }
  }

  .post-owner {
    color: $green;
    margin-bottom: 4px;
  }

  .post-date {
    display: block;
    color: $medium-gray;
    margin-bottom: $spaceSm;
  }

  .post-content {  
    margin-bottom: $spaceSm;
  }

  .post-footer {
    height: 20px;
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: $avatar max-content;
    gap: $spaceSm;

    @media screen and (max-width: $mobile) {
      grid-template-columns: auto;
      width: 100%;
    }

    .space-holder {
      @media screen and (max-width: $mobile) {
        display: none;
      }
    }

    .actions {
      @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: $border;
        margin: 0 -24px -24px;
        height: 40px;
      }

      .button {
        margin-right: $spaceMd;
        float: left;

        @media screen and (max-width: $mobile) {
          float: unset;
          align-self: center;
          margin-right: unset;
          margin: unset;
          height: 100%;
          border-radius: 0;

          &:first-child {
            border-right: $border;
          }
        }

      }

    }

  }
}