@import 'variables';

$avatar: 50px;

.comment {
  display: grid;
  grid-template-columns: $avatar auto;
  padding: $spaceSm;
  gap: $spaceSm;

  .comment-avatar {
    @include avatar-outer($avatar);

    span {
      @include avatar-inner;
    }
  }

  .comment-owner {
    display: inline;
    font-size: 1.1rem;
    color: $green;
    @media screen and (max-width: $mobile) {
      font-size: .9rem;
    }
  }

  .comment-content {  
    display: inline;
    font-size: 1rem;
    @media screen and (max-width: $mobile) {
      font-size: .8rem;
    }
  }

  .comment-date {
    display: block;
    color: $medium-gray;
    margin-top: 4px;
  }
}