<ng-container *ngIf="comments">
  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-avatar">
      <span>
        {{ comment.owner.initials }}
      </span>
    </div>
  
    <div>
      <!-- comment owner name -->
      <h6 class="comment-owner">
        {{ comment.owner.firstName + ' ' + comment.owner.lastName }}
      </h6>

      <!-- comment content -->
      <p class="comment-content">
        {{ comment.content }}
      </p>
  
      <!-- comment time diference -->
      <span class="comment-date font-small">
        {{ timeSince(comment.createdAt) }}
      </span>
    </div>
  </div>
</ng-container>