<div class="interactions" *ngIf="post">
  <div class="reactions" *ngIf="post.reactions && post.reactions.length !== 0">
    <span class="reaction reaction_blue" *ngIf="reactionsToShow.blue"></span>
    <span class="reaction reaction_red" *ngIf=reactionsToShow.red></span>
    <span class="reaction reaction_yellow" *ngIf="reactionsToShow.yellow"></span>
    <span class="number">
      {{ post.reactions.length }}
    </span>
  </div>
  <span><!-- space holder --></span>
  <span class="comments" *ngIf="post.comments && post.comments.length !== 0">
    {{ post.comments.length + ' ' + (post.comments.length === 1 ? 'comentario' : 'comentarios') }}
  </span>
</div>