@import 'variables';

.interactions {
  @include soft-shadow;
  display: grid;
  grid-template-columns: min-content auto  max-content;
  height: 22px;
  background-color: #ffffff;
  padding: 10px $spaceSm;
  border-top: $border;
  border-bottom: $border;

  .reactions {
    align-self: center;
    position: relative;

    span {
      display: block;
      position: absolute;
      top: -12px;

      &:nth-child(2) {
        left: 18px;
      }
  
      &:nth-child(3) {
        left: 36px;
      }

      &:nth-child(4) {
        left: 54px;
      }
    }

    .reaction {
      height: 20px;
      width: 20px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background-color: #ccc;
    }

    .reaction_blue {
      background-color: $blue;
    }

    .reaction_red {
      background-color: $red;
    }

    .reaction_yellow {
      background-color: $yellow;
    }

    .number {
      color: $green;
      font-weight: bold;
      top: -10px;
      margin-left: 12px;
    }
  }

  .comments {
    color: $gray;
  }
}