<app-header *ngIf="currentUser" [user]="currentUser"></app-header>
<router-outlet *ngIf="currentUser" ng-cloak></router-outlet>
<app-login-modal *ngIf="!currentUser" (refresh)="checkAuthentication()"></app-login-modal>