@import 'variables';

.multiline-input {
  width: 100%;
  background-color: #ffffff;
  
  textarea {
    @include clean-button;
    @include font-medium;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    color: $gray;
    height: 24px;
    min-height: 24px;
    margin: 0;
    overflow-y: hidden;
    padding: 1.8rem;
    width: calc(100% - 4rem);

    &::-webkit-input-placeholder {
      color: $green;
    }

    &:-ms-input-placeholder {
      color: $green;
    }

    &::placeholder {
      color: $green;
      opacity: 1;
    }

    @media screen and (max-width: $mobile) {
      min-height: 16px;
      height: 16px;
      padding: 1rem;
    }
  }
  
  .muted {
    &::-webkit-input-placeholder {
      color: $medium-gray;
    }
  
    &:-ms-input-placeholder {
      color: $medium-gray;
    }
  
    &::placeholder {
      color: $medium-gray;
    }
  }

  .form-footer {
    padding: 8px;
    border-top: $border;

    button {
      min-width: 120px;
      margin-left: auto;
    }

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}