<form class="multiline-input" [formGroup]="form" (ngSubmit)="onSubmit()">
  <textarea
    [class.muted]="mutedLabel"
    #multilineInput
    (change)="autoGrow()"
    (keypress)="autoGrow()"
    (copy)="autoGrow()" 
    (cut)="autoGrow()"
    (paste)="autoGrow()"
    (keydown.enter)="onKeyEnter($event)"
    [placeholder]="label"
    formControlName="multilineInput"
    name="multilineInput"
    id="multilineInput">
  </textarea>
  <div class="form-footer" *ngIf="showActions">
    <button
      class="button button-primary"
      type="submit"
      [class.disabled]="loading || f['multilineInput'].value === null || f['multilineInput'].value === ''"
      (keydown.enter)="onKeyEnter($event)">
      Publicar
    </button>
  </div>
</form>
