@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  @include font-normal;
  color: $black;
  background-color: $light-gray;

  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  outline: none!important;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

small, .font-small {
  @include font-small;
}

p, .font-normal {
  @include font-normal;
}

h5, .font-medium {
  @include font-medium;
}

h1, .font-title {
  @include font-title;
}

b, strong, .font-bold {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.truncate {
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * General layout
 **/
.page {
  max-width: 800px;
  margin: auto;

  @media screen and (max-width: $mobile) {
    padding: 0 $spaceSm;
    max-width: 600px;
    margin: auto;
  }
}

/**
 * UI
 **/
.button {
  @include clean-button;
  @include font-small;
  @include elements-trasition;
  display: block;
  border-radius: $radius;
  padding: 8px 12px;
  background-color: $muted-gray;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $muted-gray, $amount: 10);
  }
}

.button-link {
  @include font-normal;
  color: $green;
  background: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
    background: none;
  }
}

.button-primary {
  color: #ffffff;
  background-color: $bright-green;

  &:hover {
    background-color: darken($color: $bright-green, $amount: 10);
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

// margin top/bottom
.m-bt {
  margin: $spaceMd 0;
}