
/**
 * Colors
 **/
$black:        #040404;
$gray:         #797979;
$medium-gray:  #aaaaa8;
$muted-gray:   #e5e5e5;
$light-gray:   #f4f4f4;
$green:        #60be92;
$bright-green: #31cb6e;
$blue:         #4083df;
$red:          #ee5b63;
$yellow:       #eec826;

/**
 * Layout
 **/
$radius:  0.25rem;
$border:  2px #e8e8e8 solid;
$spaceSm: 1.5rem;
$spaceMd: 2.5rem;
$spaceLg: 5rem;
$mobile:  756px;

@media screen and (max-width: $mobile) {
  $border: 1px #e8e8e8 solid;
}

/**
 * Font Mixins
 **/
@mixin font-small {
  font-size: .8rem;
  line-height: 1.1;
  @media screen and (max-width: $mobile) {
    font-size: .7rem;
  }
}

@mixin font-normal {
  font-size: 1rem;
  line-height: 1.25;
  @media screen and (max-width: $mobile) {
    font-size: .8rem;
  }
}

@mixin font-medium {
  font-size: 1.2rem;
  line-height: 1.4;
  @media screen and (max-width: $mobile) {
    font-size: .9rem;
  }
}

@mixin font-title {
  font-size: 1.4rem;
  line-height: 1.4;
  @media screen and (max-width: $mobile) {
    font-size: 1rem;
  }
}

/**
 * Other Mixins
 **/
@mixin clean-button {
  outline: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  resize: none;
  background: none;
}

@mixin elements-trasition {
  transition: .2s ease-in-out;
}

@mixin soft-shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1),
              0 1px 3px rgba(0,0,0,0.05);
}

@mixin avatar-outer($size) {
  display: grid;
  height: $size;
  width: $size;
  background-color: $muted-gray;
  border-radius: 50%;
}

@mixin avatar-inner {
  color: $gray;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.6rem;
  text-align: center;
  align-self: center;
}